<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="modal-unit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Agregar Semestre/Cuatrimestre</h4>
      </div>
      <div class="modal-body" id="modal-unit-body">
        <div id="subjects">
          <h4>Agregar la carga académica del semestre/cuatrimestre del alumno</h4>
          <button type="button" class="btn btn-primary" id="addSubjectO">Agregar Materia</button>
          <div id="semester" class="row">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="new-unit-save">Guardar Semestre/Cuatrimestre</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade bs-example-modal-lg" id="modal-edit-unit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
     <div id="edit-semester-holder">
        <script id="edit-semester-template" type="text/ractive">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Editar Semestre/Cuatrimestre</h4>
      </div>
      <div class="modal-body" id="modal-unit-body">
        <div id="subjects">
          <h4>Editar la carga académica del semestre/cuatrimestre del alumno</h4>
            <button type="button" on-click="addItem" class="btn btn-primary">Agregar Materia</button>
            <div id="edit-semester" class="row">
               {{ #if subjects }}
                {{ #each subjects:num }}
                  <div class="col-sm-4 singleSubject">
                  <div class="panel panel-default">
                  <div class="panel-body">
                  <div class="form-group"><label for="subjectName"><span class="subjectNumber">{{num + 1}}</span>.- Nombre de la Materia</label><input type="text" class="form-control" name="Materias" value="{{nombre}}">
                  </div>
                  <button type="button" on-click="deleteItem" class="btn btn-default btn-raised">Quitar Materia</button>
                  </div>
                  </div>
                  </div>     
                {{ /each }}
              {{ /if }}
              </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-danger" on-click="deleteSemester">Borrar Semestre/Cuatrimestre</button>
        <button type="button" class="btn btn-primary" on-click="updateSemester">Guardar Semestre/Cuatrimestre</button>
      </div>
       </script>  
      </div>
    </div>
  </div>
</div>

<!-- Modal para agregar notas -->
<div class="modal fade bs-example-modal-lg" id="modal-add-note" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Agregar nota</h4>
      </div>
      <div class="modal-body" id="modal-movility-body">
        <div class="form-group">
          <textarea class="form-control" name="Note" rows="10" placeholder="Texto de la nota"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" id="save-new-note">Guardar Nota</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para agregar  movilidad -->
<div class="modal fade bs-example-modal-lg" id="modal-add-movility" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Agregar Movilidad</h4>
      </div>
      <div class="modal-body" id="modal-movility-body">
        <div id="subjects">
          <h4>Llenar la información sobre la movilidad del alumno</h4>
          <form action="{{URL::to('/addMovility')}}" method="post">
            {{csrf_field()}}
            <input type="hidden" name="StudentId" value="{{$student->matricula or ""}}">
            <input type="hidden" name="ProgramId" value="{{$program->id or ""}}">
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" name="Nombre" class="form-control" value="{{old('Nombre')}}"/>
            </div>
            <div class="form-group">
              <label>Fecha de Inicio</label>
              <input type="text" name="Start" class="form-control datepicker" value="{{old('Start')}}"/>
            </div>
            <div class="form-group">
              <label>Fecha de Finalización</label>
              <input type="text" name="End" class="form-control datepicker" value="{{old('End')}}"/>
            </div>
            <div class="form-group">
              <label>Destino</label>
              <input type="text" name="Destino" class="form-control" value="{{old('Destrino')}}"/>
            </div>
            <div class="form-group">
              <label>Resultado</label>
              <input type="text" name="Resultado" class="form-control" value="{{old('Resultado')}}"/>
            </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary" >Guardar Movilidad</button>
      </div>
      </form>
    </div>
  </div>
</div>

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Revisión del alumno en programa      <button class="btn btn-primary pull-right btn-pdf">Descargar Reporte</button>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-sm-12">
      <div class="row" id="overview-header-holder">
        <script id="overview-header" type="text/ractive">
          <div class="col-sm-12">
            <h3>Nombre del programa</h3>
            {{nombrePrograma}}
          </div>
          <div class="col-sm-12">
            <h3>Datos del alumno</h3>
            <div class="form-group">
              <label>Matrícula</label>
              <a href="#" id="Matricula" class="editables" data-type="text" data-pk="" data-url="/post" data-title="Enter username">{{matricula}}</a>
            </div>
            <div class="form-group">
              <label>Nombre</label>
              <a href="#" id="Nombre" class="editables" data-type="text" data-pk="" data-url="/post" data-title="Enter username">{{nombre}}</a>
            </div>
            <div class="form-group">
              <label>Apellido Paterno</label>
              <a href="#" id="Paterno" class="editables" data-type="text" data-pk="" data-url="/post" data-title="Enter username">{{paterno}}</a>
            </div>
            <div class="form-group">
              <label>Apellido Materno</label>
              <a href="#" id="Materno" class="editables" data-type="text" data-pk="" data-url="/post" data-title="Enter username">{{materno}}</a>
            </div>
            <div class="form-group">
              <label>Correo Electrónico</label>
              <a href="#" id="Email" class="editables" data-type="text" data-pk="" data-url="/post" data-title="Enter username">{{email}}</a>
            </div>
            <div class="form-group">
              <label>Teléfono</label>
              <a href="#" id="Telefono" class="editables" data-type="text" data-pk="" data-url="/post" data-title="Enter username">{{telefono}}</a>
            </div>
          </div>
        </script>
      </div>
      <hr/>
      <div class="row">
        <div class="col-sm-12">
          <h3>Actividad del Alumno en el programa</h3>
        </div>
        <div class="col-sm-4">
          <div class="form-group" id="activity-holder">
            <script id="activity" type="text/ractive">
              <label>
                {{ total }} {{formato}} registrados
              </label>
              <select class="form-control" size="10" id="unit-select">
                {{ #if units }}
                  {{#each units:num}}
                    <option value="{{ id }}">Semestre {{ num + 1 }}</option>
                  {{/each}}
                {{ else }}
                  <option value="-1">El Alumno no tiene {{ formato }} registrados.</option>
                {{ /if }}
              </select>
            </script>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-primary btn-block" id="add-unit">Agregar Semestre/Cuatrimestre</button>
          </div>
        </div>
        <div class="col-sm-8 unit-overview">
          <div class="units-holder" id="units-holder">
            <script id="units-template" type="text/ractive">
              {{ #if subjects }}
                {{ #each subjects:num }}
                  <div class="col-lg-4 col-md-2 singleSubject">
                  <div class="panel panel-default">
                  <div class="panel-body">
                  <div class="form-group">
                  <label for="subjectName">
                  <span class="subjectNumber">{{num + 1}}</span>.- Nombre de la Materia</label>
                  <input type="text" class="form-control" value="{{ nombre }}" disabled="">
                  </div>
                  <div class="form-group">
                  <label for="subjectName">Calificación</label>
                  <input type="text" class="form-control" data-id="{{ id }}" name="Grades" value="{{ calificacion }}"></div>
                  </div>
                  </div>
                  </div>                
                {{ /each }}
                <div class="col-sm-12"><button class="btn btn-primary" id="save-unit-grades">Guardar Calificaciones</button><button class="btn btn-default" data-id="{{ unitId }}" id="edit-unit">Editar Semestre/Cuatrimestre</button></div>
              {{ /if }}
            </script>
          </div>
          <div class="spinner">
            <i class="fa fa-spinner fa-5x fa-pulse"></i>
          </div>
          <div class="no-unit">
            <h3>No se ha seleccionado ningún semestre/cuatrimestre.</h3>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-sm-6">
          <h3>Trabajo de Titulación</h3>
        </div>
        <div class="col-sm-6">
          <h3>Notas</h3>
        </div>
        <div class="col-sm-6" id="work-info-holder">
          <script id="work-info-template" type="text/ractive">
            <div class="form-group">
              <label>Nombre de tutor</label>
              <input type="text" class="form-control" name="Tutor" value="{{ trabajo.nombreTutor }}"/>
            </div>
            <div class="form-group">
              <label>Línea de Generación y Ampliación del Conocimiento</label>
              <input type="text" class="form-control" name="Lines" value="{{ trabajo.linea }}"/>
            </div>
            <div class="form-group">
              <label>Tipo de trabajo</label>
            </div>
              <div class="radio-inline">
                <label>
                  <input type="radio" name="TipoTrabajo" value="Tesis" {{#if trabajo.tipo==='Tesis'}}checked{{/if}}/> Tesis
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio"  name="TipoTrabajo" value="Tesina" {{#if trabajo.tipo==='Tesina'}}checked{{/if}}/> Tesina
                </label>
              </div>
              <div class="radio-inline">
                <label>
                  <input type="radio"  name="TipoTrabajo" value="Trabajo Terminal" {{#if trabajo.tipo==='Trabajo Terminal'}}checked{{/if}}> Trabajo Terminal
                </label>
              </div>
              <div class="row">
                <div class="col-sm-8">
                  <button type="submit" class="btn btn-primary btn-block" on-click="updateWork">Actualizar Trabajo</button>
                </div>
              </div>
          </script>
        </div>
        <div class="col-sm-6">
          <div class="row" id="notes-holder">
            <script id="notes-template" type="text/ractive">
              <div class="col-sm-12" >
                {{ #if notes }}
                  <div class="row">
                      {{#each notes}}
                        <div class="col-sm-12">
                          <div class="well">
                            <div class="row">
                              <div class="col-sm-12">
                                {{notas}}
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-sm-12">
                                <a class="btn btn-danger" on-click="deleteNote:{{ id }}">Borrar nota</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      {{/each}}
                    </div>
                  {{ else }}
                    <h3>No hay notas registradas para el trabajo de titulación</h3>
                  {{ /if }}
              </div>
              <div class="col-sm-12">
                <button type="button" class="btn btn-primary btn-block" on-click="addNote">Agregar Nota</button>
              </div>
            </script>
          </div>
        </div>
      </div>
      <hr/>
      <div class="row">
          <div class="col-sm-12">
            <h3>Movilidad Estudiantil en el programa.</h3>
          </div>
          <div class="col-sm-4">
            <div id="movilities-holder">
              <script id="movilities-template" type="text/ractive">
              <div class="form-group">
                <label>Movilidades registradas</label>
                <select class="form-control" size="10">
                    {{#each movilities}}
                      <option on-click="loadMovility:{{id}}">{{nombre}}</option>
                    {{/each}}
                </select>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary btn-block" id="add-movility">Agregar Movilidad</button>
              </div>
              </script>
            </div>
          </div>
          <div class="col-sm-8" id="movility-holder">
            <div class="none">
              <h3>No se ha seleccionado ninguna movilidad.</h3>
            </div>
            <div class="spinner">
              <i class="fa fa-spinner fa-5x fa-pulse"></i>
            </div>
              <input type="hidden" name="movilityId" id="movilityId"/>
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" name="Nombre" id="movility-name" class="form-control"/>
              </div>
              <div class="form-group">
                <label>Destino</label>
                <input type="text" name="Destino" id="movility-destiny" class="form-control"/>
              </div>
              <div class="form-group">
                <label>Fecha de Inicio</label>
                <input type="text" name="Start" id="movility-start" class="form-control datepicker"/>
              </div>
              <div class="form-group">
                <label>Fecha de Finalización</label>
                <input type="text" name="End" id="movility-end" class="form-control datepicker"/>
              </div>
              <div class="form-group">
                <label>Resultado</label>
                <input type="text" name="Resultado" id="movility-result" class="form-control"/>
              </div>
            <div class="form-group">
              <button type="button" class="btn btn-danger" id="movility-delete">Borrar movilidad</button>
              <button type="submit" class="btn btn-primary">Actualizar movilidad</button>
            </div>
          </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-sm-12">
          <h3>Productividad</h3>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <select class="form-control" id="productivities" size="10">
              @foreach($productivities as $productivity)
                <option value="{{$productivity->id}}">{{$productivity->titulo}}</option>
              @endforeach
            </select>
          </div>
          <div class="form-group">
            <button class="btn-primary btn btn-block" id="productivity-add">Agregar trabajo de productividad</button>
          </div>
        </div>
        <div class="col-sm-8" id="productivity-holder">
          <div class="none">
            <h3>No se ha seleccionado ningun trabajo de Productividad.</h3>
          </div>
          <div class="spinner">
            <i class="fa fa-spinner fa-5x fa-pulse"></i>
          </div>
          <form action="{{URL::to('/updateProductivity')}}" method="POST">
            {{csrf_field()}}
            <input type="hidden" name="productivityId" id="productivityId"/>
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" name="Nombre"  id="productivity-name" class="form-control" />
            </div>
            <div class="form-group">
              <label>Fecha</label>
              <input type="text" name="Start" id="productivity-date" class="form-control datepicker" />
            </div>
            <div class="form-group">
              <label>Categoría</label>
              <input type="text" name="Category" id="productivity-category" class="form-control" />
            </div>
            <div class="form-group">
              <label>Tipo</label>
              <input type="text" name="Type" id="productivity-type" class="form-control" />
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-danger" id="productivity-delete">Borrar Trabajo de Productividad</button>
              <button type="submit" class="btn btn-primary">Actualizar Trabajo de Productividad</button>
            </div>
          </form>
        </div>
      </div>
      <hr/>
      <div class="row">
        @if($state === 'activo')
          <div class="col-sm-12">
            <h3>Terminar programa</h3>
          </div>
          <div class="col-sm-4">
            <button class="btn btn-primary btn-block btn-lg" id="terminate-program">Terminar programa</button>
          </div>
        @else
        <div class="col-sm-12">
          <h3>Reactivar programa</h3>
        </div>
        <div class="col-sm-4">
          <a class="btn btn-primary btn-block btn-lg" href="{{URL::to('reactivateProgram')}}?studentId={{$student->matricula}}&programId={{$program->id}}">Reactivar Programa</a>
        </div>
        @endif
      </div>
    </div>
  </div>
</section><!-- /.content -->
<script>
  overview.init();
</script>
